{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Reviews</h1>
<ul>
    {% for review in reviews %}
    <li>
        <strong>Rating:</strong> {{ review.get_star_rating_display }}<br>
        <strong>Comment:</strong> {{ review.comment }}<br>
        <strong>By:</strong> {{ review.user.username }}<br>
        <strong>Date:</strong> {{ review.created_at|date:"F j, Y" }}<br>
        <a href="{% url 'reviews:create_review' package_id=review.package.id %}">Leave a Review</a>
    </li>
    {% endfor %}
</ul>
<a href="">Back to Package Details</a>
{% endblock %}