{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
    <title>Shopping Cart</title>
</head>

<body>
    <h1>Your Shopping Cart</h1>

    <ul>
        {% for item in cart_items %}
        <li>
            <strong>Package:</strong> {{ item.package.title }}<br>
            <strong>Quantity:</strong>
            <form method="post" action="{% url 'cart:add_to_cart' item.package.id %}">
                {% csrf_token %}
                {{ form.quantity }} {# Corrected form variable #}
                <button type="submit">Update Quantity</button>
            </form>
            <strong>Price:</strong>
            {% if request.user.is_authenticated %}
            {{ item.package.discounted_price }}
            {% else %}
            {{ item.package.price }}
            {% endif %}
            <form method="post" action="{% url 'cart:remove_from_cart' item.id %}">
                {% csrf_token %}
                <button type="submit">Remove</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <p><strong>Total Price:</strong> {{ total_price }}</p>

    <a href="{% url 'cart:cart_view' %}">View Cart</a>
</body>

{% endblock %}